*.class
*.DS_Store

# Package Files #
*.jar
*.war
*.ear
*.zip

# MCP stuff #
/bin/
/conf/
/docs/
/eclipse/
/jars/
/lib/
/logs/
/reobf/
/runtime/
/temp/
*.sh
*.bat
CHANGELOG
LICENSE.txt

# Non-Rift source #
/src/minecraft/*
!/src/minecraft/mcmod.info
!/src/minecraft/dragonborn/
!/src/minecraft/dragonborn/*
!/src/minecraft/dragonborn/**/*
